{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@assets": "./src/asset",
          "@component": "./src/component",
          "@config": "./src/config",
          "@constant": "./src/constant",
          "@i18n": "./src/i18n",
          "@model": "./src/model",
          "@screen": "./src/screen",
          "@service": "./src/service",
          "@redux": "./src/redux",
          "@util": "./src/util",
        }
      }
    ]
  ]
}