<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89639630752-7v9krg0cqjaduna89d0lc15ceruqfb1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89639630752-7v9krg0cqjaduna89d0lc15ceruqfb1r</string>
	<key>API_KEY</key>
	<string>AIzaSyDRGjiEPmvIyc8K8oA8iQeR0IRg9gU7MTE</string>
	<key>GCM_SENDER_ID</key>
	<string>89639630752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PhotoAwesome</string>
	<key>PROJECT_ID</key>
	<string>photoawesome-3b08c</string>
	<key>STORAGE_BUCKET</key>
	<string>photoawesome-3b08c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89639630752:ios:98d856ede4e1012a</string>
	<key>DATABASE_URL</key>
	<string>https://photoawesome-3b08c.firebaseio.com</string>
</dict>
</plist>